body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.login-container {
  background-color: #f5f5f5;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 25px;
}
.login-links {
  cursor: pointer;
  display: flex;
  gap: 15px;
  list-style: none;
  margin: 0;
  font-family: 'Lora', serif;
}
nav {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  height: 50px;
  width: 30%;
}
.logo > img {
  cursor: pointer;
  padding-left: 35px;
  height: 100%;
}
.links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 15px;
  width: 70%;
}
.li-tags {
  cursor: pointer;
  display: flex;
  font-family: 'Lora', serif;
  list-style: none;
  gap: 25px;
}
.hero-img {
  width: 100%;
  height: 500px;
}
.hero-img > img {
  height: 100%;
  width: 100%;
}
.floating-container {
  height: 250px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.floating-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
  background-color: #fff;
  width: 70%;
  transform: translateY(-100px);
}
.heading {
  font-family: 'Lora', serif;
  font-size: 3rem;
  font-weight: 100;
  margin: 0;
  padding: 25px;
}
.search-bar {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  width: 80%;
  border: 1px solid;
  border-radius: 5px;
  border-color: #f5f5f5;
}
.p-tags {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  padding-left: 5px;
}
.p-tags p:hover {
  background-color: #646464;
  color: #fff;
  padding: 1px;
  border-radius: 3px;
}
.p-text {
  font-family: 'Lora', serif;
  padding-top: 15px;
}
.input {
  width: 60%;
  font-size: 1rem;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-color: #f5f5f5;
  padding-left: 15px;
}
i {
  background-color: #c0535c;
  height: 100%;
  width: 20%;
  border-radius: 5px;
  text-align: center;
}
.fa,
.fas {
  color: #fff;
  font-weight: 900;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section {
  height: 700px;
}
.section > h1 {
  font-family: 'Lora', serif;
  font-size: 4rem;
  font-weight: 100;
  padding-left: 25px;
}
.section-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 25px;
}
.card {
  border: 1px solid #f5f5f5;
  width: 300px;
}
.card-img {
  height: 200px;
  width: 300px;
  object-fit: contain;
}
.card-img > img {
  height: 100%;
  width: 100%;
}
.card-content {
  width: 80%;
}
.section-view-listing {
  cursor: pointer;
  font-family: 'Lora', serif;
  padding: 100px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}
.special {
  color: #4a769d;
}
.special:hover {
  border-bottom: 1px solid #4a769d;
}
.address {
  font-family: 'Lora', serif;
  font-size: 1.2rem;
  padding-left: 10px;
}
.tour {
  font-family: 'Lora', serif;
  font-size: 0.9rem;
  padding-left: 10px;
}
.price {
  border-top: 1px solid #f5f5f5;
  padding: 10px 15px;
  margin-bottom: 0;
  font-size: 1.5rem;
}
.hamburger {
  display: none;
}
/* section-card-2 */
.section-card-2 {
  height: 700px;
  background-color: #f5f5f5;
}
.card-2-container {
  display: flex;
  padding: 0 15px;
  gap: 25px;
}
.card-2-card {
  height: 400px;
  width: 300px;
}
.two-img {
  width: 300px;
}
.two-img > img {
  width: 100%;
}
.card-2-heading {
  padding: 40px 15px;
}
.card-2-heading > h3 {
  font-family: 'Lora', serif;
  font-size: 2rem;
  font-weight: 100;
}
.card-2-heading > p {
  font-family: 'Lora', serif;
  font-size: 1rem;
  margin-bottom: 0;
  line-height: 0;
}
.card-2-card > p {
  font-weight: 100;
  font-family: 'Lora', serif;
}
.card-2-card > h3 {
  font-family: 'Lora', serif;
  font-size: 1.5rem;
  font-weight: 100;
}
.guide {
  font-weight: 100;
  font-size: 1rem;
  font-family: 'Lora', serif;
  color: #4a769d;
}
.fas,
.fa-arrow-right {
  background-color: #f5f5f5;
  color: #4a769d;
  font-size: 15px;
}
/* phone container */
.phone-container {
  background-color: #000;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.phone-img {
  height: 600px;
  transform: translateY(-100px);
}
.phone-img > img {
  height: 100%;
}
.phone-text {
  height: 400px;
  width: 500px;
}
.phone-heading{
  color: #fff;
  font-family: 'Lora', serif;
  font-size: 3rem;
  font-weight: 100;
}
.phone-content{
  color: #fff;
  font-family: 'Lora', serif;
  font-size: 1.3rem;
  font-weight: 100;
  padding-bottom: 25px;
}
.phone-email {
  width: 90%;
  border-radius: 10px;
  height: 30px;
  font-family: 'Lora', serif;
  font-size: 1.2rem;
  padding-left: 15px;
}
@media only screen and (min-width: 2048px) {
  .hero-img {
    height: 700px;
  }
  .section > h1 {
    padding-left: 378px;
  }
  .card-2-container {
    align-items: center;
    justify-content: center;
  }
  .card-2-card {
    align-items: center;
    justify-content: center;
  }
  .card-2-heading {
    padding-left: 378px;
  }
}
@media only screen and (max-width: 2000px) {
  .card-2-container {
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 1024px) {
  .card {
    width: 400px;
  }
  .section-card {
    flex-wrap: wrap;
  }
  .card-img {
    height: 300px;
    width: 100%;
  }
  .section {
    height: auto;
  }
  .section-card-2 {
    height: auto;
  }
  .card-2-container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .card-2-card {
    height: 350px;
    width: 315px;
  }
}
@media only screen and (max-width: 768px) {
  .card {
    width: 300px;
  }
  .card-img {
    height: 200px;
  }
  .floating-content {
    transform: unset;
    width: 100%;
  }
  .hero-img {
    height: 300px;
  }
  .links {
    display: none;
  }
  .hamburger {
    display: block;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  .hamburger > i {
    cursor: pointer;
    background-color: #fff;
    color: #000;
  }
}
@media only screen and (max-width: 375px) {
  .logo {
    height: 30px;
  }
  .hero-img {
    height: 200px;
  }
  .heading {
    font-size: 1.8rem;
  }
  .p-tags {
    display: none;
  }
  .input {
    padding-left: 0;
    border: none;
    width: 71%;
  }
  .p-text {
    font-size: 0.9rem;
  }
  .section > h1 {
    font-size: 2.5rem;
    border-bottom: 2px solid #f5f5f5;
  }
  .section-view-listing {
    gap: 30px;
  }
  .card-2-heading > p {
    line-height: 110%;
  }
}
